<!doctype html>
<html>
<html lang="en">
<head>
	<meta charset="utf-8"> 
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/style.css">
<head>
	<body>

		<h1>{{ question_number }}. {{ question }}</h1>
	<p>{{ answer1 }}</p>
	<p>{{ answer2 }}</p>
	<p>{{ answer3 }}</p>

	<br>
	<h2> Question 1
	<br>
	<br>
		<form>
						<input type="radio" name="gender" value="Marina" checked> 
						Exempel 1
						<br>
						<input type="radio" name="gender" value="Marina"> Exempel 2
						<br>
						<input type="radio" name="gender" value="other"> 
						Exempel 3
						<br>
					</form>

		</body>
	</head>
	</html>