<!doctype html>
<html>
<html lang="en">
<head>
	<meta charset="utf-8"> 
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/style.css">
<head>
	<body>
	<h1>Marina's friends!</h1>
	<br>
	<h2> Who is Marina's best friend?
	<br>
	<br>
		<form>
						<input type="radio" name="gender" value="Marina" checked> Marina origin<br>
						<input type="radio" name="gender" value="Marina"> Marina's friends<br>
						<input type="radio" name="gender" value="other"> Marina's music
					</form>

		</body>
	</head>
	</html>