<!doctype html>
<html>
<html lang="en">
<head>
	<meta charset="utf-8"> 
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/style.css">
	<body>
		{% for quiz in quizzes %}
	<p>{{ quiz.name }}</p>
{% endfor %}

	<h1>Marinas Quizsida</h1>
	<div class="container">
<div class="row">
				<div class="col-md-12">
				</div>
			</div>
</div>
	<br>
	<p>You've reached Marinas quizpage, ready for some quizzing? Choose one of the below to start!</p>
	<br>
	<br>
	<h2>The Quizzes</h2>
					<ul>
						<li>Marina's friends</li>
						<li>Marinas's music</li>
						<li>Marinas vegetables</li>
					</ul>
	

		</body>
	</head>
	</html>